In [1]:
import gspread
import pandas as pd
import openpyxl

from pprint import pprint

# pprint(vars(object)) # important information

In [2]:
gc = gspread.oauth()
sh = gc.open("TRP Jobs Roster Team 3")

In [3]:
spreadsheet_data = gc.export(sh.id,gspread.utils.ExportFormat.EXCEL)

file_path = 'Roster_File.xlsx'

# Write the binary data to a file
with open(file_path, 'wb') as file:
    file.write(spreadsheet_data)

In [4]:

FILE_NAME = "Roster_File.xlsx"
SHEET = ""
FULLNAME = "Ashar Saleem"

wb = openpyxl.load_workbook(FILE_NAME)
sheets = wb.sheetnames
sheets

['June 23 W2',
 'June 23 W3',
 'Dashboards',
 'Messaging Templates',
 'Troubleshooting + FAQs',
 'Screening Questions',
 'Targets']

In [5]:
latestWeek = sheets[sheets.index('Dashboards') - 1]
latestWeek

'June 23 W3'

In [6]:
SHEET = latestWeek

df = pd.read_excel(FILE_NAME, sheet_name = SHEET)
df.head()

,Job Title,Workplace Type,Job Location,Job Type,Job Description,Recruiter,Screening Q's,Date Posted,Date Closed,Post URL,Comments
0,Store Manager,On-site,"Dubai, UAE",Full time,Job Link,Adam\tButt,No,21/06/2023,NaN,NaN,NaN
1,Supply Associate,On-site,"Dubai, UAE",Full time,Job Link,Adam\tButt,No,21/06/2023,NaN,https://www.linkedin.com/jobs/view/3640565010,NaN
2,Sales Lead,On-site,"Karachi, PK",Full time,Job Link,Ambreen\tYusuf,No,NaN,NaN,NaN,NaN
3,Senior Software Engineer,On-site,"Dubai, UAE",Full time,Job Link,Ambreen\tYusuf,No,NaN,NaN,NaN,NaN
4,Assistant Manager (Residences),On-site,"Dubai, UAE",Full time,Job Link,Areesha Nasir,No,NaN,NaN,NaN,NaN

In [7]:
ws = wb[SHEET]
columns = list(df.columns)

for index, row in enumerate(ws.iter_rows()):
    for col, cell in enumerate(row):
        if cell.hyperlink:
            print(cell.hyperlink.target, cell.value)
            df.loc[index-1, f'col-{  columns[col] }'] = cell.hyperlink.target

https://app.qureos.com/jobs/6489b3d61966b2001db3a6d7?referrer=AB8FR Job Link
https://app.qureos.com/jobs/648aa2da105044001db462e1?referrer=AB8FR Job Link
https://www.linkedin.com/jobs/view/3640565010 https://www.linkedin.com/jobs/view/3640565010
https://app.qureos.com/jobs/6491b0e534ad0c001d16e6ac?referrer=AY7WL Job Link
https://app.qureos.com/jobs/648abdb250a716001d3bfafb?referrer=AY7WL Job Link
https://app.qureos.com/jobs/64899dec105044001db0d9c3?referrer=ANX32 Job Link
https://app.qureos.com/jobs/6491f03bc53b5f001d74e53a?referrer=ANX32 Job Link
https://app.qureos.com/jobs/6425225db7a559001e325d2d?referrer=AZO86 Job Link
https://app.qureos.com/jobs/64913c5834ad0c001d13fa70?referrer=AS07B Job Link
https://app.qureos.com/jobs/648995ba50a716001d388453?referrer=AS07B Job Link
https://app.qureos.com/jobs/6425225db7a559001e325d2d?referrer=AU35Z Job Link
https://app.qureos.com/jobs/64899dec105044001db0d9c3?referrer=JS5VC Job Link
https://app.qureos.com/jobs/648ef0846fbadb001d5dac16?referrer=JS5VC Job Link
https://app.qureos.com/jobs/64913c5834ad0c001d13fa70?referrer=RI7ZT Job Link
https://www.linkedin.com/jobs/view/3640546424/ https://www.linkedin.com/jobs/view/3640546424/
https://app.qureos.com/jobs/648aa2da105044001db462e1?referrer=RI7ZT Job Link
https://app.qureos.com/jobs/6425225db7a559001e325d2d?referrer=TH1S4 Job Link
https://app.qureos.com/jobs/648ef0846fbadb001d5dac16?referrer=TH1S4 Job Link
https://app.qureos.com/jobs/6491f03bc53b5f001d74e53a?referrer=UK5K3 Job Link
https://app.qureos.com/jobs/6491b0e534ad0c001d16e6ac?referrer=UK5K3 Job Link
https://app.qureos.com/jobs/6425225db7a559001e325d2d?referrer=ZM3FG Job Link

In [8]:
df

,Job Title,Workplace Type,Job Location,Job Type,Job Description,Recruiter,Screening Q's,Date Posted,Date Closed,Post URL,Comments,col-Job Description,col-Post URL
0,Store Manager,On-site,"Dubai, UAE",Full time,Job Link,Adam\tButt,No,21/06/2023,NaN,NaN,NaN,https://app.qureos.com/jobs/6489b3d61966b2001d...,NaN
1,Supply Associate,On-site,"Dubai, UAE",Full time,Job Link,Adam\tButt,No,21/06/2023,NaN,https://www.linkedin.com/jobs/view/3640565010,NaN,https://app.qureos.com/jobs/648aa2da105044001d...,https://www.linkedin.com/jobs/view/3640565010
2,Sales Lead,On-site,"Karachi, PK",Full time,Job Link,Ambreen\tYusuf,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/6491b0e534ad0c001d...,NaN
3,Senior Software Engineer,On-site,"Dubai, UAE",Full time,Job Link,Ambreen\tYusuf,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/648abdb250a716001d...,NaN
4,Assistant Manager (Residences),On-site,"Dubai, UAE",Full time,Job Link,Areesha Nasir,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/64899dec105044001d...,NaN
5,Automation Test Engineer,On-site,"Dubai, UAE",Full time,Job Link,Areesha Nasir,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/6491f03bc53b5f001d...,NaN
6,Growth Hacker (Python and SQL),On-site,"Karachi, PK",Full time,Job Link,Arooma Zainab,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/6425225db7a559001e...,NaN
7,Business Development Executive,On-site,"Karachi, PK",Full time,Job Link,Ashar Saleem,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/64913c5834ad0c001d...,NaN
8,Senior Marketing Specialist,On-site,"Dubai, UAE",Full time,Job Link,Ashar Saleem,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/648995ba50a716001d...,NaN
9,Growth Hacker (Python and SQL),On-site,"Karachi, PK",Full time,Job Link,Ayesha Zubair,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/6425225db7a559001e...,NaN
10,Assistant Manager (Residences),On-site,"Dubai, UAE",Full time,Job Link,Javeria\tSaleem,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/64899dec105044001d...,NaN
11,Senior React Native Developer,On-site,"Dubai, UAE",Full time,Job Link,Javeria\tSaleem,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/648ef0846fbadb001d...,NaN
12,Business Development Executive,On-site,"Karachi, PK",Full time,Job Link,Rimsha Imran,No,21/06/2023,NaN,https://www.linkedin.com/jobs/view/3640546424/,NaN,https://app.qureos.com/jobs/64913c5834ad0c001d...,https://www.linkedin.com/jobs/view/3640546424/
13,Supply Associate,On-site,"Dubai, UAE",Full time,Job Link,Rimsha Imran,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/648aa2da105044001d...,NaN
14,Growth Hacker (Python and SQL),On-site,"Karachi, PK",Full time,Job Link,Tahir Hussain,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/6425225db7a559001e...,NaN
15,Senior React Native Developer,On-site,"Dubai, UAE",Full time,Job Link,Tahir Hussain,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/648ef0846fbadb001d...,NaN
16,Automation Test Engineer,On-site,"Dubai, UAE",Full time,Job Link,Umair Khalid\tKhan,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/6491f03bc53b5f001d...,NaN
17,Sales Lead,On-site,"Karachi, PK",Full time,Job Link,Umair Khalid\tKhan,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/6491b0e534ad0c001d...,NaN
18,Growth Hacker (Python and SQL),On-site,"Karachi, PK",Full time,Job Link,Zahra Mustafa,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/6425225db7a559001e...,NaN

In [9]:
mask = df['Recruiter'].apply(lambda x: str(x).lower() == FULLNAME.lower() or str(x).lower() == FULLNAME.lower().split()[0])

df = df[mask]
df

,Job Title,Workplace Type,Job Location,Job Type,Job Description,Recruiter,Screening Q's,Date Posted,Date Closed,Post URL,Comments,col-Job Description,col-Post URL
7,Business Development Executive,On-site,"Karachi, PK",Full time,Job Link,Ashar Saleem,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/64913c5834ad0c001d...,NaN
8,Senior Marketing Specialist,On-site,"Dubai, UAE",Full time,Job Link,Ashar Saleem,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/648995ba50a716001d...,NaN

In [10]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import html2text

import time

# Configure Chrome options for headless browsing
chrome_options = Options()
# chrome_options.add_argument("--headless")  # Ensure GUI is off
# chrome_options.add_argument("--no-sandbox")
# chrome_options.add_argument("--disable-dev-shm-usage")



urls = list(df['col-Job Description'])
column = "Job Description"
column_index = list(df.columns).index(column)
print(column_index)
driver = webdriver.Chrome(options=chrome_options)


for i, url in enumerate(urls):

    driver.get(url)

    xpath_expression = "//div[contains(@class, 'job-description')]/div[contains(@class, 'parsed-content')]"

    element = WebDriverWait(driver, 1).until(
        EC.presence_of_element_located((By.XPATH, xpath_expression))
    ) 
    
    html = element.get_attribute('innerHTML')
   
    text = html2text.html2text(html)
    print(type(text))

    df.iloc[ i, column_index ] = text

# Close the webdriver
driver.quit()

4
<class 'str'>
<class 'str'>

In [11]:
df

,Job Title,Workplace Type,Job Location,Job Type,Job Description,Recruiter,Screening Q's,Date Posted,Date Closed,Post URL,Comments,col-Job Description,col-Post URL
7,Business Development Executive,On-site,"Karachi, PK",Full time,Job Title: Business Development Executive Year...,Ashar Saleem,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/64913c5834ad0c001d...,NaN
8,Senior Marketing Specialist,On-site,"Dubai, UAE",Full time,Job Title: Senior Marketing Specialist Years o...,Ashar Saleem,No,NaN,NaN,NaN,NaN,https://app.qureos.com/jobs/648995ba50a716001d...,NaN

In [ ]:


des = zip(list(df['Job Description']) , list(df['col-Job Description']))
# html = list(df['HTML'])

for i, (description, url) in enumerate(des):
    print(url)
    print(f"-----{i}------")
    print(description, end= "\n\n")
    print(f"-----{i}------")
    # print(html[i])
    # print(f"-----{i}------")