In [10]:
import gspread
import pandas as pd
import openpyxl
import datetime

In [11]:
gc = gspread.oauth()
sh = gc.open("Associate: Ashar Saleem")
print(sh)
spreadsheet_data = gc.export(sh.id,gspread.utils.ExportFormat.CSV)
print("Excel created")

FILE_NAME = "FILES/Dashboard.csv"
SHEET = ""
FULLNAME = "Ashar Saleem"

# Write the binary data to a file
with open(FILE_NAME, 'wb') as file:
    file.write(spreadsheet_data)

<Spreadsheet 'Associate: Ashar Saleem' id:1ASWbNa3Yd0q4vac-0_i3vupPcfgVOMUM5hAKOHjgHeY>
Excel created

In [12]:
df_new = pd.read_csv("FILES/Dashboard.csv", parse_dates=['signup_date'])
print(df_new.shape)
df_new = df_new.drop_duplicates(keep= "first", subset = "_id")
print(df_new.shape)
df_new.head()

(355, 37)
(308, 37)

,_id,full_name,signup_date,referrer_name,application,title,name,onboardingstep,aboutme1,profileheadline,...,gender,photo,phone_number,languages,secondaryemail,whatsappnumber,interested_in,is_visa_required,salary_range,Profile Completion %
0,64e932c174082b001efec5b2,Mahmoud Ali,2023-08-25,NaN,Not applied,NaN,NaN,9.0,Yes,NaN,...,NaN,NaN,Yes,NaN,NaN,Yes,Yes,Yes,Yes,100.00%
1,64c2a7db810f40001d1c28b1,Arun v v,2023-07-27,NaN,Not applied,NaN,NaN,9.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,50.00%
2,64a580b812d25b001d798a57,Ubaid Mufti,2023-07-05,NaN,applied,UI/UX Designer,Venture Republic,13.0,Yes,NaN,...,Yes,Yes,Yes,NaN,Yes,NaN,NaN,Yes,Yes,83.33%
3,64a568e9fa84ef001e82510e,Fatima Zahid,2023-07-05,NaN,Not applied,NaN,NaN,13.0,Yes,NaN,...,Yes,Yes,Yes,Yes,Yes,Yes,NaN,Yes,Yes,83.33%
4,6511d846e2772d001de51744,Alex Varghese,2023-09-25,NaN,applied,Procurement Assistant,ADEKA AL OTAIBA MIDDLE EAST,9.0,Yes,NaN,...,NaN,NaN,Yes,NaN,NaN,Yes,NaN,NaN,Yes,66.67%

In [13]:
df_new['Current_Time'] = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
df_new['Remaining Count'] = 3

df_new['ProfileCompletion'] = pd.to_numeric(df_new['Profile Completion %'].str.split('%', expand=True)[0])
df_new = df_new.sort_values(by=['signup_date'], axis=0, ascending=False)

### How many new applicants in one week span

In [14]:
today = datetime.date.today()
PreviousMonday = today - datetime.timedelta(days=today.weekday(), weeks=1)

print(str(PreviousMonday))
PreviousMonday = "2023-09-01"
print(df_new[df_new['signup_date'] >= str(PreviousMonday)].shape)
# df_new[df_new['signup_date'] >= "2023-07-26" ]
# df_new[ (df_new['signup_date'] >= "2023-07-1") & (df_new['ProfileCompletion'] == 100)] .shape
df_new.loc[:,'signup_date_same'] = df_new['signup_date']
df_new.loc[:,'application_same'] = df_new['application']
df_new = df_new[df_new['signup_date'] >= str(PreviousMonday)]

2023-09-25
(80, 40)

In [15]:

df_new2 = df_new[df_new['ProfileCompletion'] == 100].reset_index(drop=True)
# df_new2 = df_new[df_new['onboardingstep'] == 13].reset_index(drop=True)
# df_new2 = df_new[df_new['application'] == 'applied'].reset_index(drop=True)
# df_new2 = df_new[(df_new['ProfileCompletion'] == 100)  & (df_new['application'] == 'applied')] .reset_index(drop=True)
print(len(df_new2)-3)
df_new.reset_index()[:40]

44

,index,_id,full_name,signup_date,referrer_name,application,title,name,onboardingstep,aboutme1,...,whatsappnumber,interested_in,is_visa_required,salary_range,Profile Completion %,Current_Time,Remaining Count,ProfileCompletion,signup_date_same,application_same
0,65,651a6a97338042001db23b20,Mithilesh Kumar,2023-10-02,NaN,applied,Social Media Marketer,Tech Inferno,9.0,NaN,...,NaN,NaN,NaN,Yes,58.33%,2023-10-02 14:53:48,3,58.33,2023-10-02,applied
1,118,6518db0fc02bbc001dca4a58,Shubham Singh,2023-10-01,NaN,applied,Business Development Executive,Dhofar Global Tr Co LLC,9.0,Yes,...,Yes,NaN,NaN,NaN,58.33%,2023-10-02 14:53:48,3,58.33,2023-10-01,applied
2,343,651957c9f7f452001d132e04,Jawad Ali Khan,2023-10-01,NaN,Not applied,NaN,NaN,9.0,NaN,...,Yes,NaN,NaN,NaN,50.00%,2023-10-02 14:53:48,3,50.00,2023-10-01,Not applied
3,108,65198dcc501eca001d3209ed,Meera Sahib,2023-10-01,NaN,applied,Accountant Assistant,Qureos Recruitment,9.0,NaN,...,NaN,NaN,NaN,NaN,50.00%,2023-10-02 14:53:48,3,50.00,2023-10-01,applied
4,120,65196c1960cf23001d0ffba2,Shoukath Mohammed,2023-10-01,NaN,applied,Accountant Assistant,Qureos Recruitment,9.0,Yes,...,NaN,NaN,NaN,NaN,58.33%,2023-10-02 14:53:48,3,58.33,2023-10-01,applied
5,50,6518ef9c81a4ad001d5f44ca,Ranotosh Ghosh,2023-10-01,NaN,applied,Business Development Executive,Dhofar Global Tr Co LLC,9.0,Yes,...,Yes,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-10-01,applied
6,233,651854b72dbd11001d2bb3a5,Georjedine Jeanlouis,2023-09-30,NaN,Not applied,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,25.00%,2023-10-02 14:53:48,3,25.00,2023-09-30,Not applied
7,330,6518623db1da38001dcd8fb7,Yara Mhmd,2023-09-30,NaN,Not applied,NaN,NaN,9.0,NaN,...,Yes,NaN,NaN,NaN,41.67%,2023-10-02 14:53:48,3,41.67,2023-09-30,Not applied
8,73,6518558d4f56e3001d0a2e99,Hassan Algain,2023-09-30,NaN,applied,Marketing Manager,Atari,9.0,NaN,...,Yes,NaN,NaN,NaN,50.00%,2023-10-02 14:53:48,3,50.00,2023-09-30,applied
9,22,651854bae2b036001ee3e874,Ahmed Abdelrazik,2023-09-30,NaN,applied,Business Development Executive,Dhofar Global Tr Co LLC,9.0,NaN,...,Yes,NaN,NaN,NaN,41.67%,2023-10-02 14:53:48,3,41.67,2023-09-30,applied
10,175,65185732519db2001d548bd9,Eslam Morsy,2023-09-30,NaN,applied,Accountant,Alzayani Investments,9.0,Yes,...,NaN,NaN,NaN,NaN,58.33%,2023-10-02 14:53:48,3,58.33,2023-09-30,applied
11,336,65186692e34bdb001d3aee4e,Ashly Sara Koshy,2023-09-30,NaN,Not applied,NaN,NaN,9.0,NaN,...,NaN,NaN,NaN,Yes,50.00%,2023-10-02 14:53:48,3,50.00,2023-09-30,Not applied
12,335,651885bf3689f2001d7c95c4,Sayed hassan sayed Ahmed,2023-09-30,NaN,Not applied,NaN,NaN,7.0,NaN,...,Yes,NaN,NaN,Yes,50.00%,2023-10-02 14:53:48,3,50.00,2023-09-30,Not applied
13,48,651857522b7065001ddaca54,Mehsab Ali e,2023-09-30,NaN,applied,Accountant,Alzayani Investments,9.0,NaN,...,Yes,NaN,NaN,NaN,50.00%,2023-10-02 14:53:48,3,50.00,2023-09-30,applied
14,242,651873621f6eb0001d94d1b2,Yehya Asal,2023-09-30,NaN,applied,Business Development Executive,Dhofar Global Tr Co LLC,9.0,NaN,...,NaN,NaN,NaN,NaN,50.00%,2023-10-02 14:53:48,3,50.00,2023-09-30,applied
15,337,65185c2b2dbd11001d2bb56d,Eslam Mohamed,2023-09-30,NaN,applied,Accountant Assistant,Qureos Recruitment,9.0,Yes,...,Yes,NaN,NaN,NaN,58.33%,2023-10-02 14:53:48,3,58.33,2023-09-30,applied
16,322,65185aaee34bdb001d3adb5a,Duha Saeed,2023-09-30,NaN,Not applied,NaN,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,50.00%,2023-10-02 14:53:48,3,50.00,2023-09-30,Not applied
17,59,6513ecba5b38f7001d6c200d,Mohammed Bayaz,2023-09-27,NaN,applied,Draftsman,Qureos Recruitment,9.0,NaN,...,Yes,NaN,NaN,Yes,58.33%,2023-10-02 14:53:48,3,58.33,2023-09-27,applied
18,195,6512ca5f881c9b001d4fec37,Safvan Vt,2023-09-26,NaN,applied,Interior Design Draftsman,Qureos Recruitment,9.0,Yes,...,Yes,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-26,applied
19,111,651274bbef73aa001da534d3,Mohammad Bashar,2023-09-26,NaN,Not applied,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,0.00%,2023-10-02 14:53:48,3,0.00,2023-09-26,Not applied
20,136,6511def666c03e001dbe2f73,Kartiksingh Hushare,2023-09-25,NaN,applied,Executive Assistant,Qureos Recruitment,9.0,Yes,...,Yes,NaN,NaN,NaN,58.33%,2023-10-02 14:53:48,3,58.33,2023-09-25,applied
21,172,6511e08a4786f9001d29fc15,Edward Jerameel Martin,2023-09-25,NaN,applied,Procurement Assistant,ADEKA AL OTAIBA MIDDLE EAST,9.0,Yes,...,NaN,NaN,NaN,Yes,66.67%,2023-10-02 14:53:48,3,66.67,2023-09-25,applied
22,4,6511d846e2772d001de51744,Alex Varghese,2023-09-25,NaN,applied,Procurement Assistant,ADEKA AL OTAIBA MIDDLE EAST,9.0,Yes,...,Yes,NaN,NaN,Yes,66.67%,2023-10-02 14:53:48,3,66.67,2023-09-25,applied
23,9,651111f79348f0001d78c621,AMALNADH NJ,2023-09-25,NaN,applied,Interior Design Draftsman,Qureos Recruitment,9.0,Yes,...,Yes,NaN,NaN,NaN,58.33%,2023-10-02 14:53:48,3,58.33,2023-09-25,applied
24,193,65111816ebc35b001d6a123a,shafiq mohammed,2023-09-25,NaN,applied,Procurement Assistant,ADEKA AL OTAIBA MIDDLE EAST,9.0,Yes,...,NaN,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-25,applied
25,319,65103b5723114b001de54884,shahbaz akhter,2023-09-24,NaN,applied,Interior Design Draftsman,Qureos Recruitment,9.0,Yes,...,NaN,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-24,applied
26,298,650fad23b9e90b001dbf9a0f,Muhammed Shafi,2023-09-24,NaN,Not applied,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,0.00%,2023-10-02 14:53:48,3,0.00,2023-09-24,Not applied
27,325,650fcf78781892001ddc3d2b,nabil sayyed,2023-09-24,NaN,applied,Interior Design Draftsman,Qureos Recruitment,9.0,Yes,...,NaN,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-24,applied
28,181,650fef4ddc22bd001dee27ce,Md. Saiful islam Ropam,2023-09-24,NaN,Not applied,NaN,NaN,9.0,Yes,...,Yes,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-24,Not applied
29,291,650ff6303c8e50001c2005a8,Zawar Amin khan,2023-09-24,NaN,applied,Procurement Assistant,ADEKA AL OTAIBA MIDDLE EAST,9.0,Yes,...,Yes,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-24,applied
30,192,650fef799348f0001d784247,Syamlal Swarnappan,2023-09-24,NaN,applied,Procurement Assistant,ADEKA AL OTAIBA MIDDLE EAST,9.0,Yes,...,Yes,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-24,applied
31,98,650f145b9348f0001d77f41b,Jithesh.K.P Jithu,2023-09-23,NaN,Not applied,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,0.00%,2023-10-02 14:53:48,3,0.00,2023-09-23,Not applied
32,205,650f11c4ebc35b001d693ade,subin balan,2023-09-23,NaN,applied,Interior Design Draftsman,Qureos Recruitment,9.0,Yes,...,NaN,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-23,applied
33,170,650f1454cb796e001d5df4b3,Abu Bakar Waheed,2023-09-23,NaN,Not applied,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,0.00%,2023-10-02 14:53:48,3,0.00,2023-09-23,Not applied
34,188,650f3001290fef001d21d2c8,Charinette Padolina,2023-09-23,NaN,applied,Procurement Assistant,ADEKA AL OTAIBA MIDDLE EAST,9.0,Yes,...,NaN,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-23,applied
35,169,650f0fc1135a25001da8ca36,Rehab Tigani,2023-09-23,NaN,applied,Interior Design Draftsman,Qureos Recruitment,9.0,Yes,...,NaN,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-23,applied
36,68,650f05c85e8136001d98b8b6,Karren Jake Aenlle,2023-09-23,NaN,applied,Procurement Assistant,ADEKA AL OTAIBA MIDDLE EAST,9.0,Yes,...,Yes,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-23,applied
37,160,650f2636a5d55e001d5b51fd,Arun Raghavan,2023-09-23,NaN,Not applied,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,33.33%,2023-10-02 14:53:48,3,33.33,2023-09-23,Not applied
38,142,650f216f0acb7b001d9321ce,Kartik Hushare,2023-09-23,NaN,applied,Procurement Assistant,ADEKA AL OTAIBA MIDDLE EAST,9.0,Yes,...,Yes,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-23,applied
39,228,650f0913cb796e001d5defc4,bino benny,2023-09-23,NaN,applied,Procurement Assistant,ADEKA AL OTAIBA MIDDLE EAST,9.0,Yes,...,NaN,Yes,Yes,Yes,100.00%,2023-10-02 14:53:48,3,100.00,2023-09-23,applied

In [16]:
# df_new.to_csv("FILES/Applicants_new.csv", index = False)

In [17]:
# df_old = pd.read_csv("FILES/Applicants_old.csv")
# df_new = pd.read_csv("FILES/Applicants_new.csv")

In [18]:
""""
updated_records = []

for index, row_old in df_old.iterrows():
    _id = row_old["_id"]

    if _id in df_new["_id"].values:
        row_new = df_new[df_new["_id"] == _id].iloc[0]
        
#         # Extract desired columns from df_new
        profile_completion_percent = row_new["Profile Completion %"]
        profile_completion = row_new["ProfileCompletion"]
        
#         # Update the relevant columns in the old row
        row_old["Profile Completion %"] = profile_completion_percent
        row_old["ProfileCompletion"] = profile_completion
    
    # Append the updated row to the list
    updated_records.append(row_old)

updated_df = pd.concat(updated_records, axis=1).T

# Export updated dataframe as CSV
updated_df.to_csv("FILES/Applicants_old.csv", index=False)
updated_df
"""

'"\nupdated_records = []\n\nfor index, row_old in df_old.iterrows():\n    _id = row_old["_id"]\n\n    if _id in df_new["_id"].values:\n        row_new = df_new[df_new["_id"] == _id].iloc[0]\n        \n#         # Extract desired columns from df_new\n        profile_completion_percent = row_new["Profile Completion %"]\n        profile_completion = row_new["ProfileCompletion"]\n        \n#         # Update the relevant columns in the old row\n        row_old["Profile Completion %"] = profile_completion_percent\n        row_old["ProfileCompletion"] = profile_completion\n    \n    # Append the updated row to the list\n    updated_records.append(row_old)\n\nupdated_df = pd.concat(updated_records, axis=1).T\n\n# Export updated dataframe as CSV\nupdated_df.to_csv("FILES/Applicants_old.csv", index=False)\nupdated_df\n'